<!DOCTYPE html>
<html>
<head>
    <title>Poller | New Poll</title>
    <script src="https://unpkg.com/htmx.org@1.3.3"></script>
</head>
<body>
    <label for="poll_title">Poll Title</label>
    <input id="poll_title" type="text" value={{poll_title}}>
    <ul>
        {{#each options}}
            <label for="option_{{@index}}">Option {{@index}}</label>
            <input id="option_{{@index}}" type="text" value={{this}}>
        {{/each}}
    </ul>
    <label for="require_name">Require Name?</label>
    <input id="require_name" type="checkbox" checked={{require_name}}>
    <button hx-put="/poll/{{poll_id}}">Save</button>
</body>
</html>